/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background colors */
  --background: #f8fafc;
  --card: #ffffff;

  /* primary colors */
  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  /* text colors */
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --text-muted: #94a3b8;

  /* chart colors */
  --chart-bar: #e5e7eb;
  --chart-hover: #2563eb;
}

.dark {
  --background: #020617;
  --card: #0f172a;

  --text-primary: #f8fafc;
  --text-secondary: #cbd5f5;
  --text-muted: #94a3b8;

  --chart-bar: #334155;
}